
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.Python

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# If you are using Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Virtual environment
.env
.venv
myenv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code / PyCharm / IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/
